[submodule "site/plugins/lib/lessphp"]
	path = site/plugins/lib/lessphp
	url = git@github.com:leafo/lessphp.git
[submodule "panel"]
	path = panel
	url = git@github.com:bastianallgeier/kirbycms-panel.git
