<IfModule mod_rewrite.c>

  RewriteEngine on
  
  # block text files in the patterns folder from being accessed directly
  RewriteRule ^patterns/(.*)\.(txt|md|mdown)$ error [R=301,L]
  
  # block all files in the site folder from being accessed directly
  RewriteRule ^site/(.*) error [R=301,L]
 
</IfModule>