// Mixins
.border-radius (@radius: 0.5em) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.border-radius-top (@radius: 0.5em) {
  -webkit-border-top-left-radius: @radius;
  -webkit-border-top-right-radius: @radius;
  -moz-border-radius-topleft: @radius;
  -moz-border-radius-topright: @radius;
  border-top-left-radius: @radius;
  border-top-right-radius: @radius;
}
.border-radius-bottom (@radius: 0.5em) {
  -webkit-border-bottom-left-radius: @radius;
  -webkit-border-bottom-right-radius: @radius;
  -moz-border-radius-bottomleft: @radius;
  -moz-border-radius-bottomright: @radius;
  border-bottom-left-radius: @radius;
  border-bottom-right-radius: @radius;
}
.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  transition: @transition;
}

// Helper clases

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
  display: table; /* 2 */
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

// Main styles
* {
  margin: 0px;
  padding: 0px;
}
html {
  height: 101%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: 'proxima nova', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  background: #fff;
  color: #777;
  max-width: 75em;
  margin: 0 auto;
  padding: 2em; 
  @media (max-width: 70em) {
    padding: 1em; 
    font-size: 14px; 
  }
  @media (max-width: 40em) {
    padding: 1em 0.5em; 
    font-size: 13px; 
  }
}
a {
  color: #222;
  text-decoration: none;
}
a,
a:hover,
a:active,
a:visited {
  outline: 0px;
}
a:hover {
  color: red;
}
img {
  outline: 0;
  border: 0;
}
h1 {
  font-size: 2em;
  line-height: 1em;
  color: #222;
  margin-bottom: 1/2em;
}
h2 {
  font-size: 1.5em;
  font-weight: normal;
  color: red;
  margin-bottom: 0.5/1.5em;
}
h3 {
  font-weight: normal;
  font-size: 1.25em;
  color: #222;
  margin-bottom: 0.5/1.25em;
}
h4 {
  color: red;
  font-weight: normal;
}
p {
  margin-bottom: 0.5em;
}

section.content {
  margin: 1em 0;
}
footer {
  padding-top: 1em;
  margin-top: 1em;
  font-size: 0.8em;
  color: #222;
}
footer a {
  color: red;
}
footer a:hover {
  color: #222;
}

.mainmenu {
  font-size: 0.8em; 
  @media (max-width: 70em) { font-size: 0.9em; }
  ul {
    list-style: none; 
    a { text-transform: uppercase; }
    ul { 
      margin-left: 1em; 
      a { text-transform: none; }
    }
  }
  li {
    margin: 0.25em 0;
  }
  .active { font-weight: bold; }

  &.hidden {
    height: 0;
    overflow: hidden; 
  }

} // END .main-menu

@media (min-width: 60em) {
  #mainmenu.hidden { height: auto; }
  #menutoggle { display: none; }

  #mainmenu {
    float: left; 
    width: 20%; 
    margin-top: 1em; 
  }
  .content {
    float: right; 
    width: 75%; 
  }
}

.breadcrumb {
  text-transform: uppercase; 
  font-size: 0.85em; 
  a { color: #999; }
  li { list-style: none; float: left; }
  span { margin: 0 0.3em; color: #999; }
} // END .breadcrumb

.jump {
  list-style: none; 
  a:after { content: " »"; }
  margin: 0; 
}
p + .jump { margin-top: -0.5em; }

pre, 
code {
  font-family: 'source code pro', monospace; 
  margin: 1em 0; 
  border: 1px solid darken(#FDF6E3,10%); 
  padding: 0.5em 0; 
  .border-radius-bottom(0.25em); 
  
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  
  ol li { padding: 0 0.5em}
  
  position: relative; 
  
  &:before {
    display: block; 
    background: #586E75; 
    outline: 1px solid #586E75; 
    color: #FDF6E3; 
    font-weight: bold; 
    padding: 0 0.5em; 
    position: relative; 
    top: -0.5em; 
  }
  &#php:before { content: "PHP"; }
  &#html:before { content: "HTML"; }
  &#css:before { content: "CSS"; }
  &#js:before { content: "JavaScript"; }
  
}
