/* Lists – hanging punctuation for the first list, indents for any nested list children */
ul,
ol {
  margin: 1.5em;
  padding: 0;
  position: relative;
  left: -1.5em;
}
ul ul,
ul ol,
ol ol,
ol ul {
  left: 0;
  top: 0;
  margin: 0 1.5em;
}
ol ol { list-style-type: lower-alpha }
ol ol ol { list-style-type: lower-roman }
